<!DOCTYPE html>

<%
function display(s) {
  if (s.match('/')) {
    debugger
    if (sourceClean == 'submitting-forms') debugger
    var sourceClean = source.replace(/\.[a-zA-Z]*$/, '')
    return s.split('/')[0] === sourceClean.split('/')[0]
  }
  return true
}

function prettySource(s) {
  if (s.endsWith('.md')) s = s.replace(/\.md$/g, '').replace(/\-/g, ' ')

  if (s.match('/')) {
    s = '&nbsp; &nbsp; &nbsp;' + s.split('/')[1]
  }

  return s
}
%>
<html>
<head>
  <title><%= title %></title>
  <meta http-equiv="content-type" content="text/html; charset=UTF-8">
  <link rel="stylesheet" media="all" href="public/stylesheets/normalize.css" />
  <link rel="stylesheet" media="all" href="<%= css %>" />
</head>
<body>
  <div class="container">
      <div class="header">
        <h1><%= title %></h1>

        <% if (firstSectionIsTitle) { %>
          <% var section = sections.shift(); %>
          <% if (!(/^\s*$/).test(section.codeText)) { %>
            <%- section.codeHtml %>
          <% } %>
        <% } %>
      </div>
      <div class="main">
        <% if (sources.length > 1) { %>
          <div class="toc">
            <h3>Table of Contents</h3>
            <ol>
              <% for (var i=0, l = sources.length; i < l; i++) { %>
                <% var s = sources[i]; %>
                <% if (display(s)) { %>
                  <li>
                    <a class="source" href="<%= relativeToThisFile(finalPath(s)) %>">
                      <%- prettySource(s) %>
                    </a>
                  </li>
                <% } %>
              <% } %>
            </ol>
          </div>
        <% } %>
        <div class="contentPage">
          <% for (var i = 0, l = sections.length; i<l; i++) { %>
            <% var section = sections[i]; %>
            <%- section.docsHtml %>
            <% if (!(/^\s*$/).test(section.codeText)) { %>
              <%- section.codeHtml %>
            <% } %>
          <% } %>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
